<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enemies>
    <Enemy>
      <speed>5</speed>
      <name>vivendi</name>
      <EnemyImagePath>Icons/640px-Vivendi_logo.svg.png</EnemyImagePath>
    </Enemy>
    <Enemy>
      <speed>7</speed>
      <name>EA</name>
      <EnemyImagePath>Icons/EA_logo_Electronic_Arts.png</EnemyImagePath>
    </Enemy>
  </enemies>
  <waves>
    <Wave>
      <type>vivendi</type>
      <number>4</number>
    </Wave>
    <Wave>
      <type>EA</type>
      <number>3</number>
    </Wave>
  </waves>
</Configuration>